<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict>
				<key>CODE_SIGN_ENTITLEMENTS</key>
				<string>___PACKAGENAME___/___PACKAGENAME___.entitlements</string>
			</dict>
			<key>Debug</key>
			<dict>
				<key>CODE_SIGN_ENTITLEMENTS</key>
				<string>___PACKAGENAME___/debug.entitlements</string>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>OTHER_CODE_SIGN_FLAGS</key>
			<string>--deep --force</string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.xojo.xojoApplication</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Creates a new Xcode project ready to bundle or debug a Xojo built app.</string>
	<key>SortOrder</key>
	<integer>0</integer>
	<key>MainTemplateFile</key>
	<string>Usage.md</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base_ProjectSettings</string>
		<string>com.apple.dt.unit.base_Options</string>
		<string>com.apple.dt.unit.bundleBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>CODE_SIGN_ENTITLEMENTS</key>
					<string>___PACKAGENAME___/___PACKAGENAME___.entitlements</string>
				</dict>
				<key>Debug</key>
				<dict>
					<key>CODE_SIGN_ENTITLEMENTS</key>
					<string>___PACKAGENAME___/debug.entitlements</string>
				</dict>
			</dict>
			<key>SharedSettings</key>
			<dict>
				<key>CODE_SIGN_ENTITLEMENTS</key>
				<string>___PACKAGENAME___/___PACKAGENAME___.entitlements</string>
			</dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Copy App Bundle</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellScript</key>
					<string>#This script uses ditto to copy the app into the location Xcode expects while removing finder attributes and any 32bit code.
#It also grabs the app category and writes it back into the new bundle

PLISTPATH=&quot;${BUILT_PRODUCTS_DIR}/${WRAPPER_NAME}/Contents/Info.plist&quot;
CATEGORY=$(defaults read &quot;${PLISTPATH}&quot; LSApplicationCategoryType)

DEST_PATH=&quot;${BUILT_PRODUCTS_DIR}/${WRAPPER_NAME}&quot;

ditto --norsrc --arch x86_64 &quot;$XOJO_BUILD_LOCATION&quot; &quot;$DEST_PATH&quot;

defaults write &quot;$PLISTPATH&quot; LSApplicationCategoryType &quot;$CATEGORY&quot;</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShowEnvVarsInLog</key>
					<false/>
				</dict>
				<dict>
					<key>shellPath</key>
					<string>/bin/sh</string>
					<key>ShowEnvVarsInLog</key>
					<false/>
					<key>ShellScript</key>
					<string>#This script changes the info.plist to comply with Apple&apos;s standard way of using a build number in the CFBundleVersion 

DEST_PATH=&quot;${TARGET_BUILD_DIR}/${WRAPPER_NAME}&quot;
PLISTPATH=&quot;${DEST_PATH}/Contents/Info.plist&quot;

BUNDLE_VERSION=$(defaults read &quot;$PLISTPATH&quot; CFBundleVersion)
echo &quot;Bundle version=${BUNDLE_VERSION}&quot;

REGEX=&quot;([0-9]+)\.([0-9]+)\.([0-9]+)\.([0-9]+)\.([0-9]+)&quot;
if [[ $BUNDLE_VERSION =~ $REGEX ]]
then
BUNDLE_VERSION=&quot;${BASH_REMATCH[1]}.${BASH_REMATCH[2]}.${BASH_REMATCH[5]}&quot;
BUNDLE_SHORT_VERSION=&quot;${BASH_REMATCH[1]}.${BASH_REMATCH[2]}.${BASH_REMATCH[3]}&quot;

defaults write &quot;$PLISTPATH&quot; CFBundleVersion $BUNDLE_VERSION
defaults write &quot;$PLISTPATH&quot; CFBundleShortVersionString $BUNDLE_SHORT_VERSION

echo &quot;Writing bundle version CFBundleVersion=${BUNDLE_VERSION} CFBundleShortVersionString=${BUNDLE_SHORT_VERSION}&quot;

fi</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Update Plist</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>About.txt</string>
		<string>Usage.md</string>
		<string>Info.plist:CategoryType</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Debug.xcscheme</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
		<string>___PACKAGENAME___.entitlements</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>About.txt</key>
		<string>About Xcode templates for Xojo.

v1.1

Created and Copyright 2019, Jim McKay, piDog Software. www.pidog.com

These templates are free to use and free to distribute unmodified.

Please include credit to the original author.


You can safely delete this file from your Xcode project.


Xojo is a registered trademark of Xojo inc.
Xojo Logo used with permission.</string>
		<key>Usage.md</key>
		<string>## Usage:  

Your Xcode project should reside in **[your Xojo project folder]/Xcode/___PACKAGENAME___**    
  
Set the App Catergory in the **Identity** section of the **Info** Tab for your Target.
Add Entitlements in the Capabilities tab of your build product as needed.    
Add Hardened Runtime settings as needed.  
  
**Be sure code signing identity is set.**    
  
Next, add a **build script** to the Xojo project, active for **release**:    
  
```
//sets XOJO_BUILD_LOCATION for the Xcode project scripts  
dim setAppPath as string = &quot;export XOJO_BUILD_LOCATION=&quot;&quot;&quot;+CurrentBuildLocationNative+&quot;/___PACKAGENAME___.app&quot;&quot;;&quot;    
//cd Xcode to the folder where the xcodeproj file lives  
dim cdProjectPath as string = &quot;cd  &quot;&quot;$PROJECT_PATH&quot;+&quot;/Xcode/___PACKAGENAME___&quot;&quot;;&quot;    
  
//clean any previous build  
call doshellcommand(setAppPath + cdProjectPath + &quot;xcodebuild clean -scheme &quot;___PACKAGENAME___&quot; &gt; build_log.txt 2&gt;&amp;1&quot;)  
//do the work  
call doshellcommand(setAppPath + cdProjectPath + &quot;xcodebuild -scheme &quot;___PACKAGENAME___&quot; &gt;&gt; build_log.txt 2&gt;&amp;1&quot;)    
//Add to Xcode Organizer  
call doshellcommand(setAppPath + cdProjectPath + &quot;xcodebuild archive -scheme &quot;___PACKAGENAME___&quot; &gt;&gt; build_log.txt 2&gt;&amp;1&quot;)    
```  
**Exporting a signed app**  
For Xcode to export the app without using the Organizer, you will need an exportOption.plist file  
 - First, build and archive the app to the Organizer as outlined above.  
 - Next, follow the steps in the organizer to export the app as you would like it to be done.  
 - After export, you&apos;ll find an ExportOptions.plist next to the exported app.  
 - Place that file in the Xcode project folder.  
 - Replace the last line of the Xojo build script above with: (or add to it)  
 ```
 //Export an .xcarchive from Xcode
 call doshellcommand(setAppPath + cdProjectPath + &quot;xcodebuild archive -archivePath &quot;&quot;./Exports/___PACKAGENAME___.xcarchive&quot;&quot; -scheme &quot;___PACKAGENAME___&quot; &gt;&gt; build_log.txt 2&gt;&amp;1&quot;)    
 //Export the signed app from the exported archive
 call doshellcommand(setAppPath + cdProjectPath + &quot;xcodebuild -exportArchive -archivePath &quot;&quot;./Exports/___PACKAGENAME___.xcarchive&quot;&quot; -exportOptionsPlist ExportOptions.plist -exportPath ./Exports/ &gt;&gt; build_log.txt 2&gt;&amp;1&quot;)    
 ```
**Upload to App Store**  
 To upload the app to the app store, you can use the first method and submit from within the Organizer, or...      
 Edit the ExportOptions.plist as follows:  
 - Change the **method** value to app-store    
 - Add a &lt;key&gt;destination&lt;/key&gt;  
 - Add a &lt;value&gt;upload&lt;/value&gt;  
   
 You can also have multiple plists for export and upload.  
  
You can also replace -exportArchive above with -exportNotarizedApp (Not recommended as that this may take some time and occupy the Xojo IDE until finished)      
see my [notarizer](http://www.github/jimmckay/notarizer) script for an alternative solution.  
   
**Sandboxed Debugging**  
To debug the Xojo app in sandboxed mode, add a **Build script** active for **debug**:  

**YOU MUST ENABLE DEVELOPMENT SIGNING IN XCODE FIRST** (in the **Signing** section of the **Info** Tab for your Target) 
  
```
//sets XOJO_BUILD_LOCATION for the Xcode project scripts  
dim setAppPath as string = &quot;export XOJO_BUILD_LOCATION=&quot;&quot;&quot;+CurrentBuildLocationNative+&quot;/___PACKAGENAME___.debug.app&quot;&quot;;&quot;    
//cd Xcode to the folder where the xcodeproj file lives  
dim cdProjectPath as string = &quot;cd  &quot;&quot;$PROJECT_PATH&quot;+&quot;/Xcode/___PACKAGENAME___&quot;&quot;;&quot;    
  
//do the work. The debug scheme adds needed entitlements for debugging and puts the app where Xojo expects it to be  
call doshellcommand(setAppPath + cdProjectPath + &quot;xcodebuild -scheme Debug &gt; debug_log.txt 2&gt;&amp;1&quot;)  
```  
  
  
Be sure to set **Auto Increment Version** to **On** in Xojo and make sure you&apos;re building 64bit.  
</string>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
		<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;Scheme
   LastUpgradeVersion = &quot;1020&quot;
   version = &quot;1.3&quot;&gt;
   &lt;BuildAction
      parallelizeBuildables = &quot;YES&quot;
      buildImplicitDependencies = &quot;YES&quot;&gt;
      &lt;BuildActionEntries&gt;
         &lt;BuildActionEntry
            buildForTesting = &quot;YES&quot;
            buildForRunning = &quot;YES&quot;
            buildForProfiling = &quot;YES&quot;
            buildForArchiving = &quot;YES&quot;
            buildForAnalyzing = &quot;YES&quot;&gt;
            &lt;BuildableReference
               BuildableIdentifier = &quot;primary&quot;
               BlueprintIdentifier = &quot;384569902269254600C98F3F&quot;
               BuildableName = &quot;___PACKAGENAME___.app&quot;
               BlueprintName = &quot;___PACKAGENAME___&quot;
               ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
            &lt;/BuildableReference&gt;
         &lt;/BuildActionEntry&gt;
      &lt;/BuildActionEntries&gt;
   &lt;/BuildAction&gt;
   &lt;TestAction
      buildConfiguration = &quot;Release&quot;
      selectedDebuggerIdentifier = &quot;&quot;
      selectedLauncherIdentifier = &quot;Xcode.IDEFoundation.Launcher.PosixSpawn&quot;
      shouldUseLaunchSchemeArgsEnv = &quot;YES&quot;&gt;
      &lt;Testables&gt;
      &lt;/Testables&gt;
      &lt;MacroExpansion&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;384569902269254600C98F3F&quot;
            BuildableName = &quot;___PACKAGENAME___.app&quot;
            BlueprintName = &quot;___PACKAGENAME___&quot;
            ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/MacroExpansion&gt;
      &lt;AdditionalOptions&gt;
      &lt;/AdditionalOptions&gt;
   &lt;/TestAction&gt;
   &lt;LaunchAction
      buildConfiguration = &quot;Release&quot;
      selectedDebuggerIdentifier = &quot;Xcode.DebuggerFoundation.Debugger.LLDB&quot;
      selectedLauncherIdentifier = &quot;Xcode.DebuggerFoundation.Launcher.LLDB&quot;
      launchStyle = &quot;0&quot;
      useCustomWorkingDirectory = &quot;NO&quot;
      ignoresPersistentStateOnLaunch = &quot;NO&quot;
      debugDocumentVersioning = &quot;YES&quot;
      debugServiceExtension = &quot;internal&quot;
      allowLocationSimulation = &quot;YES&quot;&gt;
      &lt;BuildableProductRunnable
         runnableDebuggingMode = &quot;0&quot;&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;384569902269254600C98F3F&quot;
            BuildableName = &quot;___PACKAGENAME___.app&quot;
            BlueprintName = &quot;___PACKAGENAME___&quot;
            ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/BuildableProductRunnable&gt;
      &lt;AdditionalOptions&gt;
      &lt;/AdditionalOptions&gt;
   &lt;/LaunchAction&gt;
   &lt;ProfileAction
      buildConfiguration = &quot;Release&quot;
      shouldUseLaunchSchemeArgsEnv = &quot;YES&quot;
      savedToolIdentifier = &quot;&quot;
      useCustomWorkingDirectory = &quot;NO&quot;
      debugDocumentVersioning = &quot;YES&quot;&gt;
      &lt;BuildableProductRunnable
         runnableDebuggingMode = &quot;0&quot;&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;384569902269254600C98F3F&quot;
            BuildableName = &quot;___PACKAGENAME___.app&quot;
            BlueprintName = &quot;___PACKAGENAME___&quot;
            ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/BuildableProductRunnable&gt;
   &lt;/ProfileAction&gt;
   &lt;AnalyzeAction
      buildConfiguration = &quot;Release&quot;&gt;
   &lt;/AnalyzeAction&gt;
   &lt;ArchiveAction
      buildConfiguration = &quot;Release&quot;
      customArchiveName = &quot;___PACKAGENAME___&quot;
      revealArchiveInOrganizer = &quot;YES&quot;&gt;
   &lt;/ArchiveAction&gt;
&lt;/Scheme&gt;</string>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Debug.xcscheme</key>
		<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;Scheme
   version = &quot;1.7&quot;&gt;
   &lt;BuildAction
      parallelizeBuildables = &quot;YES&quot;
      buildImplicitDependencies = &quot;YES&quot;&gt;
      &lt;PreActions&gt;
         &lt;ExecutionAction
            ActionType = &quot;Xcode.IDEStandardExecutionActionsCore.ExecutionActionType.ShellScriptAction&quot;&gt;
            &lt;ActionContent
               title = &quot;Create Debug Entitlements&quot;
               scriptText = &quot;echo &amp;quot;Writting debug entitlements file&amp;quot; &amp;#10;rm &amp;quot;${SOURCE_ROOT}/___PACKAGENAME___/debug.entitlements&amp;quot;&amp;#10;cp &amp;quot;${SOURCE_ROOT}/___PACKAGENAME___/___PACKAGENAME___.entitlements&amp;quot; &amp;quot;${SOURCE_ROOT}/___PACKAGENAME___/debug.entitlements&amp;quot;&amp;#10;plutil -replace &amp;quot;com\.apple\.security\.network\.client&amp;quot; -bool YES &amp;quot;${SOURCE_ROOT}/___PACKAGENAME___/debug.entitlements&amp;quot;&amp;#10;plutil -replace &amp;quot;com\.apple\.security\.network\.server&amp;quot; -bool YES &amp;quot;${SOURCE_ROOT}/___PACKAGENAME___/debug.entitlements&amp;quot;&amp;#10;&quot;&gt;
               &lt;EnvironmentBuildable&gt;
                  &lt;BuildableReference
                     BuildableIdentifier = &quot;primary&quot;
                     BlueprintIdentifier = &quot;38CFBB5D226916EC00354580&quot;
               BuildableName = &quot;___PACKAGENAME___.app&quot;
               BlueprintName = &quot;___PACKAGENAME___&quot;
               ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
                  &lt;/BuildableReference&gt;
               &lt;/EnvironmentBuildable&gt;
            &lt;/ActionContent&gt;
         &lt;/ExecutionAction&gt;
      &lt;/PreActions&gt;
      &lt;PostActions&gt;
         &lt;ExecutionAction
            ActionType = &quot;Xcode.IDEStandardExecutionActionsCore.ExecutionActionType.ShellScriptAction&quot;&gt;
            &lt;ActionContent
               title = &quot;Move Debug App to Xojo Run Location&quot;
               scriptText = &quot;BUILD_PATH=&amp;quot;$BUILT_PRODUCTS_DIR/$WRAPPER_NAME&amp;quot;&amp;#10;&amp;#10;rm -r &amp;quot;$XOJO_BUILD_LOCATION&amp;quot;&amp;#10;mv &amp;quot;$BUILD_PATH&amp;quot; &amp;quot;$XOJO_BUILD_LOCATION&amp;quot;&amp;#10;&quot;&gt;
               &lt;EnvironmentBuildable&gt;
                  &lt;BuildableReference
                     BuildableIdentifier = &quot;primary&quot;
                     BlueprintIdentifier = &quot;38CFBB5D226916EC00354580&quot;
               BuildableName = &quot;___PACKAGENAME___.app&quot;
               BlueprintName = &quot;___PACKAGENAME___&quot;
               ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
                  &lt;/BuildableReference&gt;
               &lt;/EnvironmentBuildable&gt;
            &lt;/ActionContent&gt;
         &lt;/ExecutionAction&gt;
      &lt;/PostActions&gt;
      &lt;BuildActionEntries&gt;
         &lt;BuildActionEntry
            buildForTesting = &quot;YES&quot;
            buildForRunning = &quot;YES&quot;
            buildForProfiling = &quot;YES&quot;
            buildForArchiving = &quot;YES&quot;
            buildForAnalyzing = &quot;YES&quot;&gt;
            &lt;BuildableReference
               BuildableIdentifier = &quot;primary&quot;
               BlueprintIdentifier = &quot;38CFBB5D226916EC00354580&quot;
               BuildableName = &quot;___PACKAGENAME___.app&quot;
               BlueprintName = &quot;___PACKAGENAME___&quot;
               ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
            &lt;/BuildableReference&gt;
         &lt;/BuildActionEntry&gt;
      &lt;/BuildActionEntries&gt;
   &lt;/BuildAction&gt;
   &lt;TestAction
      buildConfiguration = &quot;Debug&quot;
      selectedDebuggerIdentifier = &quot;Xcode.DebuggerFoundation.Debugger.LLDB&quot;
      selectedLauncherIdentifier = &quot;Xcode.DebuggerFoundation.Launcher.LLDB&quot;
      shouldUseLaunchSchemeArgsEnv = &quot;YES&quot;&gt;
      &lt;Testables&gt;
      &lt;/Testables&gt;
      &lt;MacroExpansion&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;38CFBB5D226916EC00354580&quot;
               BuildableName = &quot;___PACKAGENAME___.app&quot;
               BlueprintName = &quot;___PACKAGENAME___&quot;
               ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/MacroExpansion&gt;
      &lt;AdditionalOptions&gt;
      &lt;/AdditionalOptions&gt;
   &lt;/TestAction&gt;
   &lt;LaunchAction
      buildConfiguration = &quot;Debug&quot;
      selectedDebuggerIdentifier = &quot;&quot;
      selectedLauncherIdentifier = &quot;Xcode.IDEFoundation.Launcher.PosixSpawn&quot;
      launchStyle = &quot;0&quot;
      useCustomWorkingDirectory = &quot;NO&quot;
      ignoresPersistentStateOnLaunch = &quot;NO&quot;
      debugDocumentVersioning = &quot;YES&quot;
      debugServiceExtension = &quot;internal&quot;
      allowLocationSimulation = &quot;YES&quot;&gt;
      &lt;BuildableProductRunnable
         runnableDebuggingMode = &quot;0&quot;&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;38CFBB5D226916EC00354580&quot;
               BuildableName = &quot;___PACKAGENAME___.app&quot;
               BlueprintName = &quot;___PACKAGENAME___&quot;
               ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/BuildableProductRunnable&gt;
      &lt;AdditionalOptions&gt;
      &lt;/AdditionalOptions&gt;
   &lt;/LaunchAction&gt;
   &lt;ProfileAction
      buildConfiguration = &quot;Debug&quot;
      shouldUseLaunchSchemeArgsEnv = &quot;YES&quot;
      savedToolIdentifier = &quot;&quot;
      useCustomWorkingDirectory = &quot;NO&quot;
      debugDocumentVersioning = &quot;YES&quot;&gt;
      &lt;BuildableProductRunnable
         runnableDebuggingMode = &quot;0&quot;&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;38CFBB5D226916EC00354580&quot;
               BuildableName = &quot;___PACKAGENAME___.app&quot;
               BlueprintName = &quot;___PACKAGENAME___&quot;
               ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/BuildableProductRunnable&gt;
   &lt;/ProfileAction&gt;
   &lt;AnalyzeAction
      buildConfiguration = &quot;Debug&quot;&gt;
   &lt;/AnalyzeAction&gt;
   &lt;ArchiveAction
      buildConfiguration = &quot;Debug&quot;
      customArchiveName = &quot;___PACKAGENAME___.app&quot;
      revealArchiveInOrganizer = &quot;YES&quot;&gt;
   &lt;/ArchiveAction&gt;
&lt;/Scheme&gt;</string>
		<key>___PACKAGENAME___.entitlements</key>
		<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
    &lt;key&gt;com.apple.security.app-sandbox&lt;/key&gt;
    &lt;true/&gt;
    &lt;key&gt;com.apple.security.files.user-selected.read-only&lt;/key&gt;
    &lt;true/&gt;
&lt;/dict&gt;
&lt;/plist&gt;</string>
		<key>Info.plist:CategoryType</key>
		<string>&lt;key&gt;LSApplicationCategoryType&lt;/key&gt;
&lt;string&gt;None&lt;/string&gt;
</string>
	</dict>
</dict>
</plist>
