<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict>
				<key>CODE_SIGN_ENTITLEMENTS</key>
				<string>___PACKAGENAME___/___PACKAGENAME___.entitlements</string>
			</dict>
			<key>Debug</key>
			<dict/>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>OTHER_CODE_SIGN_FLAGS</key>
			<string>--deep --force</string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.xojo.xojoiosApplication</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Creates a new Xcode project ready to bundle or devug a Xojo built app.</string>
	<key>SortOrder</key>
	<integer>0</integer>
	<key>MainTemplateFile</key>
	<string>Usage.md</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base_ProjectSettings</string>
		<string>com.apple.dt.unit.base_Options</string>
		<string>com.apple.dt.unit.bundleBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
				<key>SDKROOT</key>
				<string>iphoneos</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>latest_iphoneos</string>
				<key>CODE_SIGN_IDENTITY</key>
				<string>iPhone Developer</string>
			</dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.iosApplicationTarget</string>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Copy App Bundle</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellScript</key>
					<string>#This script uses ditto to copy the app into the location Xcode expects while removing finder attributes.

DEST_PATH=&quot;${BUILT_PRODUCTS_DIR}/${WRAPPER_NAME}&quot;

ditto --norsrc &quot;$XOJO_BUILD_LOCATION&quot; &quot;$DEST_PATH&quot;</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShowEnvVarsInLog</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Usage.md</key>
		<string>## Usage


Your Xcode project should reside in **[your Xojo project folder]/Xcode/___PACKAGENAME___**    



Next, add a **build script** to the Xojo project, active for **release**.

```
//sets XOJO_BUILD_LOCATION for the Xcode project scripts  
dim setAppPath as string = &quot;export XOJO_BUILD_LOCATION=&quot;&quot;&quot;+CurrentBuildLocationNative+&quot;/___PACKAGENAME___.app&quot;&quot;;&quot;  
//cd Xcode to the folder where the xcodeproj file lives  
dim cdProjectPath as string = &quot;cd  &quot;&quot;$PROJECT_PATH&quot;+&quot;/Xcode/___PACKAGENAME___&quot;&quot;;&quot;    

//clean any previous build  
call doshellcommand(setAppPath + cdProjectPath + &quot; xcodebuild clean -scheme ___PACKAGENAME___ &gt; build_log.txt 2&gt;&amp;1&quot;)  
//do the work  
call doshellcommand(setAppPath + cdProjectPath + &quot; xcodebuild -scheme ___PACKAGENAME___ &gt;&gt; build_log.txt 2&gt;&amp;1&quot;)  
//Add to Xcode Organizer  
call doshellcommand(setAppPath + cdProjectPath + &quot;xcodebuild archive -scheme ___PACKAGENAME___ &gt;&gt; build_log.txt 2&gt;&amp;1&quot;)    
```
</string>
		<key>About.txt</key>
		<string>About Xcode templates for Xojo.

version 1.1

Created and Copyright 2019, Jim McKay, piDog Software. www.pidog.com

These templates are free to use and free to distribute unmodified.

If modified, please include credit to the original author.


You can safely delete this file from your Xcode project.


Xojo is a registered trademark of Xojo inc.
Xojo Logo used with permission.</string>
		<key>Info.plist:PackageType</key>
		<string>&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;APPL&lt;/string&gt;
</string>
		<key>___PACKAGENAME___.entitlements</key>
		<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict/&gt;
&lt;/plist&gt;</string>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
		<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;Scheme
   LastUpgradeVersion = &quot;1020&quot;
   version = &quot;1.3&quot;&gt;
   &lt;BuildAction
      parallelizeBuildables = &quot;YES&quot;
      buildImplicitDependencies = &quot;YES&quot;&gt;
      &lt;BuildActionEntries&gt;
         &lt;BuildActionEntry
            buildForTesting = &quot;YES&quot;
            buildForRunning = &quot;YES&quot;
            buildForProfiling = &quot;YES&quot;
            buildForArchiving = &quot;YES&quot;
            buildForAnalyzing = &quot;YES&quot;&gt;
            &lt;BuildableReference
               BuildableIdentifier = &quot;primary&quot;
               BlueprintIdentifier = &quot;384569902269254600C98F3F&quot;
               BuildableName = &quot;___PACKAGENAME___.app&quot;
               BlueprintName = &quot;___PACKAGENAME___&quot;
               ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
            &lt;/BuildableReference&gt;
         &lt;/BuildActionEntry&gt;
      &lt;/BuildActionEntries&gt;
   &lt;/BuildAction&gt;
   &lt;TestAction
      buildConfiguration = &quot;Release&quot;
      selectedDebuggerIdentifier = &quot;&quot;
      selectedLauncherIdentifier = &quot;Xcode.IDEFoundation.Launcher.PosixSpawn&quot;
      shouldUseLaunchSchemeArgsEnv = &quot;YES&quot;&gt;
      &lt;Testables&gt;
      &lt;/Testables&gt;
      &lt;MacroExpansion&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;384569902269254600C98F3F&quot;
            BuildableName = &quot;___PACKAGENAME___.app&quot;
            BlueprintName = &quot;___PACKAGENAME___&quot;
            ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/MacroExpansion&gt;
      &lt;AdditionalOptions&gt;
      &lt;/AdditionalOptions&gt;
   &lt;/TestAction&gt;
   &lt;LaunchAction
      buildConfiguration = &quot;Release&quot;
      selectedDebuggerIdentifier = &quot;Xcode.DebuggerFoundation.Debugger.LLDB&quot;
      selectedLauncherIdentifier = &quot;Xcode.DebuggerFoundation.Launcher.LLDB&quot;
      launchStyle = &quot;0&quot;
      useCustomWorkingDirectory = &quot;NO&quot;
      ignoresPersistentStateOnLaunch = &quot;NO&quot;
      debugDocumentVersioning = &quot;YES&quot;
      debugServiceExtension = &quot;internal&quot;
      allowLocationSimulation = &quot;YES&quot;&gt;
      &lt;BuildableProductRunnable
         runnableDebuggingMode = &quot;0&quot;&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;384569902269254600C98F3F&quot;
            BuildableName = &quot;___PACKAGENAME___.app&quot;
            BlueprintName = &quot;___PACKAGENAME___&quot;
            ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/BuildableProductRunnable&gt;
      &lt;AdditionalOptions&gt;
      &lt;/AdditionalOptions&gt;
   &lt;/LaunchAction&gt;
   &lt;ProfileAction
      buildConfiguration = &quot;Release&quot;
      shouldUseLaunchSchemeArgsEnv = &quot;YES&quot;
      savedToolIdentifier = &quot;&quot;
      useCustomWorkingDirectory = &quot;NO&quot;
      debugDocumentVersioning = &quot;YES&quot;&gt;
      &lt;BuildableProductRunnable
         runnableDebuggingMode = &quot;0&quot;&gt;
         &lt;BuildableReference
            BuildableIdentifier = &quot;primary&quot;
            BlueprintIdentifier = &quot;384569902269254600C98F3F&quot;
            BuildableName = &quot;___PACKAGENAME___.app&quot;
            BlueprintName = &quot;___PACKAGENAME___&quot;
            ReferencedContainer = &quot;container:___PACKAGENAME___.xcodeproj&quot;&gt;
         &lt;/BuildableReference&gt;
      &lt;/BuildableProductRunnable&gt;
   &lt;/ProfileAction&gt;
   &lt;AnalyzeAction
      buildConfiguration = &quot;Release&quot;&gt;
   &lt;/AnalyzeAction&gt;
   &lt;ArchiveAction
      buildConfiguration = &quot;Release&quot;
      customArchiveName = &quot;___PACKAGENAME___.app&quot;
      revealArchiveInOrganizer = &quot;YES&quot;&gt;
   &lt;/ArchiveAction&gt;
&lt;/Scheme&gt;</string>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Usage.md</string>
		<string>About.txt</string>
		<string>Info.plist:PackageType</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
		<string>___PACKAGENAME___.entitlements</string>
	</array>
</dict>
</plist>
